//COLOR
$fender-header-color: #ffffff;
$fender-header-list: #888;
$fender-header-navbar: #666666;
$fender-header-background: #e0e0e0;
$fender-item-background: #f9f9f9;
$fender-body-hr: #d52b1e;
$fender-footer-background: #121212;
$fender-footer-list: #ccc;
$fender-footer-list-border: #4a4a4a;
