<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="." />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Fender Guitars | Electric, Acoustic &amp; Bass Guitars, Amps, Pro Audio
    </title>
    <link rel="icon" href="./img/fender-icon.ico" sizes="16x16">
</head>

<body>
    <header class="contact_wrap">
        <!--頂部連結欄-->
        <div class="contact-header">
            <div class="container">
                <div class="row">
                    <div class="contact-header__container">
                        <ul class="contact-header__list">
                            <li><a href="#">FENDER.COM</a></li>
                            <li><a href="#">PLAY</a></li>
                            <li><a href="#">TUNE</a></li>
                            <li><a href="#">BEGINNERS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Banner-->
        <div class="header-banner"></div>
        <!--底部連結欄-->
        <div class="navbar-contact">
            <div class="container">
                <div class="row">
                    <div class="navbar-contact__container">
                        <div class="navbar-menu-toggle">
                            <a href="#"><img src="./img/fender_logo.png" alt="" width="80px" /></a>
                        </div>
                        <ul class="navbar-contact__list">
                            <li><a href="#">ELECTRICS<i class="fas fa-caret-down"></i></a></span></li>
                            <li><a href="#">ACOUSTASONIC<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">ACOUSTICS<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">BASSES<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">AMPS & AUDIO<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">PARTS<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">ACCESSORIES<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">LIFESTYLE<i class="fas fa-caret-down"></i></a></li>
                            <li><a href="#">SQUIER<i class="fas fa-caret-down"></i></a></li>
                        </ul>
                        <div class="navbar-search-toggle">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="menu-collection">
        <div class="large-menu-item">
            <div class="items">
                <a href="#"><img src="./img/SCREAMDELICA_STRATOCASTER.jpg" alt="" width="100%" /></a>
            </div>
        </div>
        <div class="middle-menu-item">
            <div class="items">
                <div class="item">
                    <a href="#"><img src="./img/2021_NEW_RELEASES.jpg" alt="" width="100%" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="./img/MUSTANG_MICRO.jpg" alt="" width="100%" /></a>
                </div>
            </div>
        </div>
        <div class="heading">
            <hr>
            <h2>WHAT'S NEW</h2>
        </div>
        <div class="menu-item">
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Acoustasonic_Player_Telecaster.png" alt="" width="180px" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/30th_Anniversary_Screamadelica_Stratocaster.png" alt="" width="180px" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Player_Plus_Stratocaster.png" alt="" width="180px" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Player_Plus_Jazz_Bass.png" alt="" width="162px" /></a>
            </div>
        </div>
        <div class="middle-menu-item">
            <div class="popular-cat-heading">
                <h3>FENDER FEED</h3>
            </div>
            <div class="items">
                <div class="item">
                    <a href="#"><img src="./img/ANERICAN_PROFESSIONAL_II.jpg" alt="" width="100%" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="./img/THE_PLAYER_SERIES.jpg" alt="" width="100%" /></a>
                </div>
            </div>
        </div>
        <div class="middle-menu-item">
            <div class="items">
                <div class="item">
                    <a href="#"><img src="./img/THE_BILLIE-EILISH_UKULELE.jpg" alt="" width="100%" width="100%" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="./img/AMERICAN_ULTRA_LUXE.jpg" alt="" width="100%" /></a>
                </div>
            </div>
        </div>
        <div class="heading">
            <hr>
            <h2>ACCESSORIES</h2>
        </div>
        <div class="menu-item">
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Pro_Glow_in_the_Dark_Cables.png" alt="" width="100%" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/351_Guitar_Wall_Hanger.png" alt="" width="120px" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Fender_x_Kyser_Quick_Change_Electric_Guitar_Capo.png" alt=""
                        width="100%" /></a>
            </div>
            <div class="item">
                <div class="new-tag-true">new</div>
                <a href="#"><img src="./img/Neon_Monogrammed_Strap.png" alt="" width="100%" /></a>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer>
        <div class="footer-container row">
            <!--footer_logo-->
            <div class="footer-column-logo">
                <a href="./index.html" class="global-footer__logo">
                    <img src="./img/fender-footer.png" alt="" width="141px" />
                </a>
            </div>
            <!--footer_list-->
            <div class="footer-column-content">
                <div class="global-footer__nav">
                    <div class="row">
                        <!--footer_list1-->
                        <ul>
                            <h6 class="uppercase">Products</h6>
                            <li><a href="#">Electric Guitars</a></li>
                            <li><a href="#">Stratocaster</a></li>
                            <li><a href="#">Telecaster</a></li>
                            <li><a href="#">Guitar Amplifiers</a></li>
                            <li><a href="#">Basses</a></li>
                            <li><a href="#">Acoustic Guitars</a></li>
                            <li><a href="#">Fender Custom Shop</a></li>
                        </ul>
                        <!--footer_list2-->
                        <ul>
                            <h6 class="uppercase">Company</h6>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#" target="_blank">Newsroom</a></li>
                        </ul>
                        <!--footer_list3-->
                        <ul>
                            <h6 class="uppercase">More from Fender</h6>
                            <li><a href="#">Online Guitar Tuner</a></li>
                            <li>
                                <a href="#" alt="Tuner App" title="Tuner App">Tuner App</a>
                            </li>
                        </ul>
                        <!--footer_list4-->
                        <ul>
                            <h6 class="uppercase">Customer Service</h6>
                            <li><a href="#">Support</a></li>
                            <li>
                                <a href="#">Find a Dealer</a>
                            </li>

                            <li>
                                <a href="#" target="_blank">Warranty</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">Manuals</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">Register Your Fender</a>
                            </li>
                        </ul>
                        <!--footer_list5-->
                        <ul>
                            <h6 class="uppercase">Account</h6>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-social-countryselector">
                    <div class="footer-countryselector">
                        <div class="language-select">
                            <div class="country-language-selector">
                                <span></span>
                                <a data-toggle="modal" data-target="#" role="button" href="#">
                                    <span class="flag-intl"></span>International
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="global-footer__social">
                        <div class="content-asset">
                            <div class="social-media">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
</body>

</html>