<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fender Guitars | Electric, Acoustic &amp; Bass Guitars, Amps, Pro Audio</title>
    </head>
    <body>
        <header className="contact_wrap">
            <!--頂部連結欄-->
            <div className="contact-header">
                <div className="container">
                    <div className="row">
                        <div className="contact-header__container">
                            <ul className="contact-header__list">
                                <li><a href="#">FENDER.COM</a></li>
                                <li><a href="#">PLAY</a></li>
                                <li><a href="#">TUNE</a></li>
                                <li><a href="#">BEGINNERS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Banner-->
            <div className="header-banner"></div>
            <!--底部連結欄-->
            <div className="navbar-contact">
                <div className="container">
                    <div className="row">
                        <div className="navbar-contact__container">
                            <div className="navbar-menu-toggle">
                                <a href="#"><i className="fas fa-bars"></i></a>
                            </div>
                            <ul className="navbar-contact__list">
                                <li><a href="#">ELECTRICS</a></li>
                                <li><a href="#">ACOUSTASONIC</a></li>
                                <li><a href="#">ACOUSTICS</a></li>
                                <li><a href="#">BASSES</a></li>
                                <li><a href="#">AMPS & AUDIO</a></li>
                                <li><a href="#">PARTS</a></li>
                                <li><a href="#">ACCESSORIES</a></li>
                                <li><a href="#">LIFESTYLE</a></li>
                                <li><a href="#">SQUIER</a></li>
                            </ul>
                            <div className="navbar-search-toggle">
                                <a href="#"><i className="fas fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div className="menu-collection">
            <div className="menu-item">

            </div>
        </div>
    </body>
</html>