footer {
  background-color: $fender-footer-background;
  .footer-container {
    display: flex;
    width: 100%;
    .footer-column-logo {
      width: 15%;
      margin-left: 5rem;
      margin-top: 2rem;
    }
    .footer-column-content {
      text-align: center;
      width: 80%;
      .global-footer__nav {
        display: flex;
        text-decoration: none;
        .row {
          text-decoration: none;
          display: flex;
          ul {
            border-top: 1px solid $fender-footer-list-border;
            margin: 4rem;
            width: 10%;
            text-decoration: none;
            list-style: none;
            text-align: left;
            .uppercase {
              color: $fender-item-background;
              margin-top: 1rem;
            }
            li {
              margin-top: 2rem;
              a {
                text-decoration: none;
                color: $fender-footer-list;
                cursor: pointer;
                list-style: none;
              }
            }
          }
        }
      }
      .footer-social-countryselector {
        display: flex;
        .footer-countryselector {
          margin-top: 7.6rem;

          .language-select {
            .country-language-selector {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              text-transform: none;
              color: #000;
              text-align: left;
              font-size: 14px;
              padding: 0 !important;
              a {
                border: 1px solid #fff;
                padding: 12px 19px;
                background: transparent;
                font-family: FuturaPT, sans-serif;
                font-size: 16px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 1px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                border-radius: 30px;
                display: inline-block;
              }
            }
          }
        }
        .global-footer__social {
          margin: 34px 0 48px;
          .content-asset {
            display: block;
            .social-media {
              display: flex !important;
              a {
                color: $fender-footer-list-border;
                display: inline-block;
                margin: 0.8rem 1rem;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
